/* common.css*/

* {
  margin: 0;
}

html {
  --primary-text-color: #009;
  --primary-bg-color: #fff;
  --anchor-color: #333;
  --anchor-activ-color: salmon;
}

body {
  color: var(--body-text-color);
  background: var(--body-bg-color);
}

a {
  color: var(--anchor-color);
}

h1,
h2,
h3 {
  font-weight: 600;
}

p {
  /* common property for p*/
}
