/* contact.css */

#contact .container {
  display: grid;
  gap: 1.3em;
  grid-template-columns: auto 15rem;
}

.contact-main {
  height: 30ch;
  border: 1px dotted red;
}

.contact-sidebar {
  height: 30ch;
  border: 1px dotted gold;
}
