/* footer */

.page-footer {
  color: #eee;
  background-color: #555;
}

.page-footer ul {
  list-style: none;
}

.page-footer ul > li > a {
  color: #ddd;
}

.page-header-brand {
  color: red;
}
.footer-social {
  background: #333;
  > ul > li > a {
    color: #fff;
  }
}
.footer-ligal {
  background: #000;
  > ul > li > a {
    color: #fff;
  }
}
