/* hero */

.hero {
  background-color: rgb(255, 240, 242);
  text-shadow: rgb(0, 0, 0 / 0.2) 1 px 1 px 2 px;
  background-image: url(/images/bg-banner.jpg);
  background-position: center center;
  background-size: cover;
}

.bg-cover {
  background-size: cover;
}

.bg-center {
  background-position: center;
}

.bg-fixed {
  background-attachment: fixed;
}

.divider {
  background: url(/images/divider-bg.jpg);
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
}

.text-right {
  text-align: right;
}

.divider h1 {
  font-size: 4vw;
  font-weight: 700;
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(rgb(25, 76, 192)),
    color-stop(20%, rgb(196, 26, 3)),
    color-stop(40%, rgb(236, 190, 6)),
    color-stop(60%, rgb(25, 76, 192)),
    color-stop(80%, rgb(3, 116, 8)),
    to(rgb(196, 26, 3))
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
