/* nav */

.page-header {
  background-color: white;
}

.page-header .brand {
  color: var(--anchor-activ-color);
  font-weight: 600;
  font-size: 1.1rem;
}

/* brand */

.navbar {
  a {
    font-size: 1.1rem;
    color: var(--anchor-activ-color);
  }
}
