/*main css*/

/* Припустімо, що розмір шрифту для body встановлено на 16 пікселів. 
- Слова «Outer» відображається з розміром 25,6 пікселів, а слово «inner» — 40,96 пікселів.
- Всередині файла css/main.css 
	- визначте властивсть font-size для div, вказавши значення в одиницях виміру em.
	- визначте властивсть font-size для span, вказавши значення в одиницях виміру em. */

div {
  font-size: 1em;
}

span {
  font-size: 1.6em;
}

strong {
  font-size: 1.6rem;
}

/* стилізувати елементи списку за длпомогою стилю квадрат */

ul {
  list-style-type: square;
}
