body {
  --padding: 5vw;
  --max-width: 180ch;
}

/* 3.Зробіть копію каталогу layout

Налаштуйте елементи з класом card так, щоб вони пропорційно ділили між собою весь доступний простір та мали базовий розмір, визначений змінною --min. */
.flexbox {
  --min: 30ch;

  display: flex;
  flex-wrap: wrap;

  gap: 1rem;
  justify-content: space-around;
  & .card {
    flex: var(--min);
  }
}
