/* main.css */

/* - Вмтановіть колір тега a indigo */
a {
  color: indigo;
}
/* - Вмтановіть колір тега a gold, якщо  це посилання вже відвідали  */
a:visited {
  color: gold;
}
/* - Вмтановіть колір тега a salmon, якщо вказівник користувача знаходиться над ним  */
a:hover {
  color: salmon;
}
/* - Вмтановіть колір тега a red, який є активованим   */
a:active {
  color: red;
}

/* - Вмтановіть колір тега a orange, який отримав фокус */
a:focus {
  color: orange;
}
/* - Якщо введене у поле input значення знаходтьбся в межах 1-10, встановіть фоновий колір зеленим з прозорістю 0.25
- Якщо введене у поле input значення знаходтьбся поза межами 1-10, встановіть фоновий колір чераоним з прозорістю 0.25 */
input {
  background-color: rgba(255, 0, 0, 0.25);
}
input:in-range {
  background-color: rgb(0 255 0 / 0.25);
}

/* - Встановіть першому елементу li помаранчевий колір */
ul.text li:first-child {
  color: orange;
}

/* - Встановіть першому елементу li та першому елементу span помаранчевий колір */

ul.text-2 :first-of-type {
  color: orange;
}

/* - Встановіть останньому елементу li та останньому елементу span помаранчевий колір */

ul.text-3 :last-of-type {
  color: orange;
}

/* - Встановіть елементу li помаранчевий колір, якщо він не має аргумента class="first-item"
- Встановіть всім елементаи li чорний текст і жовтий фон, крім елемента li з класом .first-item та останнього елемента li у списку */

ul.text-4 li:not(.first-item) {
  color: orange;
}

ul.text-4 li:not(.first-item):not(:last-of-type) {
  background: yellow;
  color: black;
}

/* - Встановіть дпугому елементу li помаранчевий колір
- Встановіть кожному парному елементу li помаранчевий колір
- Встановіть кожному елементу li помаранчевий колір за фрпмулою 2n+6 */

ol :nth-child(2) {
  color: orange;
}
ol :nth-child(2n) {
  color: orange;
}
ol :nth-child(2n + 6) {
  color: orange;
}

/* - Вчтавте за допомогою псевдоелемента before перед Укрвїні слово Слава */

h1.ua::before {
  content: "Слава ";
}

/* - Вчтавте за допомогою псевдоелемента after після Героям слово Слава! */

h1.hero::after {
  content: " Слава!";
}

/* - Вчтавте за допомогою псевдоелемента before симввол параграфу */
p.cont::before {
  content: "\0A7";
  font-family: "Font Awesome\ 5 Free";
  font-weight: 900;
}
