* {
  box-sizing: border-box;
}

body {
  margin: 0;
}
/* 2. Зробіть копію каталогу navbar

Вирівняйте елементи навігаційної панелі по вертикалі так, щоб вони мали однакову відстань зверху та знизу.
Вирівняйте елементи навігаційної панелі по горизонті так, щоб Brand Name розташувався зліва, а пункти меню - справа. */

.nav {
  background-color: #333;
  color: white;
  display: flex;
  padding: 0 0.5rem;
  align-items: center;
  justify-content: space-between;
}

.link-list {
  display: flex;
  margin: 0;
  list-style: none;
}

.link {
  padding: 0 0.5rem;
}

.link:hover {
  background-color: #777;
}

.link a {
  color: inherit;
  text-decoration: none;
}
