.grid {
  display: grid;
  grid-gap: 20px;
}
/* Налаштуйте grid-властивості так, щоб кожний елемент з класом card мав мінімальну ширину, що дорівнює 100% або var(--min), та максимальну ширину, що дорівнює мінімальній ширині або 1fr. Встановіть автоматичну підгонку стовпчиків. */

.card {
  grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
}
